state-machines/default.asl.yml
---
StartAt: AuthorizeAndTransform
States:
  AuthorizeAndTransform:
    Type: Parallel
    Next: PublishEventAndRespond
    OutputPath: $[1]
    Branches:
      - StartAt: Authorize
        States:
          Authorize:
            Type: Task
            Resource: ${authorizer_function_arn}
            End: true
            Parameters:
              signature.$: $.signature
              ts.$: $.ts
              body.$: $.body
      - StartAt: Transform
        States:
          Transform:
            Type: Task
            Resource: ${transformer_function_arn}
            End: true
            ResultPath: $.body
            Parameters:
              routeKey.$: $.routeKey
              body.$: $.body
  PublishEventAndRespond:
    Type: Parallel
    End: true
    OutputPath: $[1]
    Branches:
      - StartAt: PublishEvent
        States:
          PublishEvent:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:eventbridge:putEvents
            End: true
            Parameters:
              Entries:
                - EventBusName: ${event_bus_name}
                  Source: ${domain_name}
                  DetailType.$: $.routeKey
                  Detail.$: $.body
      - StartAt: Respond
        States:
          Respond:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:lambda:invoke
            End: true
            OutputPath: $.Payload
            ResultSelector:
              Payload.$: States.StringToJson($.Payload)
            Parameters:
              FunctionName.$: States.Format('${name}-api-{}', $.body.type)
              Payload.$: States.JsonToString($.body)
            Catch:
              - Next: Default
                ErrorEquals:
                  - Lambda.ResourceNotFoundException
          Default:
            Type: Pass
            End: true
            Parameters:
              statusCode: 200
